# Database Supabase
DB_URL=[jdbc:postgresql://db.xxxxxxxxxxxx.supabase.co:5432/postgres?prepareThreshold=0]
DB_USERNAME=postgres
DB_PASSWORD=[masukkan_password_database_supabase_anda]

# JWT
JWT_SECRET=[masukkan_secret_jwt_anda_yang_sangat_panjang_disini]

# Google OAuth
GOOGLE_CLIENT_ID=[masukkan_client_id_google_anda_disini]
GOOGLE_CLIENT_SECRET=[masukkan_client_secret_google_anda_disini]