:root {
  /* Palet warna Catppucin Macchiato: https://catppuccin.com/ */
  --base: #24273a;
  --surface0: #363a4f;
  --surface1: #494d64;
  --text: #cad3f5;
  --subtext: #a5adcb;
  --blue: #8aadf4;
  --green: #a6da95;
  --red: #ed8796;
  --lavender: #b7bdf8;
}

.page-container {
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.macchiato-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--surface0);
  border: 2px solid var(--surface1);
  border-radius: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-id {
  width: 250px;
  text-align: center;
  color: var(--subtext);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.macchiato-table th, .macchiato-table td {
  padding: 12px 16px;
  border: 1px solid var(--surface1);
}

.macchiato-table th {
  background-color: var(--surface1);
  color: var(--lavender);
  font-size: 14px;
}

.form-card {
  background-color: var(--surface0);
  padding: 40px;
  border-radius: 16px;
  border: 2px solid var(--surface1);
  width: 100%;
  max-width: 600px;
}

.input-entry {
  width: 100%;
  padding: 12px;
  background-color: var(--base);
  color: var(--text);
  border: 2px solid var(--surface1); /* Border tegas */
  border-radius: 8px;
  outline: none;
}

.btn {
  padding: 8px 16px;
  border: 2px solid var(--surface1); /* Border pada tombol */
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}