spring.datasource.url=jdbc:h2:file:./data/yomudb;AUTO_SERVER=TRUE
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=isi_password_bebas
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
spring.h2.console.enabled=true
spring.flyway.enabled=true
spring.flyway.baseline-on-migrate=true

yomu.jwt.secret=replace-with-minimum-32-char-secret
yomu.jwt.expiration-ms=86400000
google.client-id=replace-with-google-client-id
